
<style>
    body {
        background-image: url(kepek/the.jpg);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header {
        width: 100%;
    }

    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 25px;
    }

    footer {
        position: fixed;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    td {
        font-size: 17pt;
        text-align: center;
        width: 33%;

    }
    .content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

