table {
    width: 450px;
    height: 450px;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.red {
    background-color: red;
}

.beige {
    background-color: #ffff88;
}

.magenta {
    background-color: magenta;
    text-align: center;
}

.scroll {
    overflow: scroll;
    height: 150px;
    width: 150px;
    text-align: justify;
}

.center {
    text-align: center;
}



/* td {
    border: 1px solid black;
}
#tr1 {
    width: 450px;
    height: 50px;
    background-color: red;
}
#td11 {
    width: 100px;
    height: 50px;
}
#td12 {
    width: 200px;
    height: 50px;
}
#td13 {
    width: 100px;
    height: 50px;
}
#tr2 {
    width: 400px;
    height: 150px;
}
#td21 {
    width: 100px;
    height: 150px;
}
#td22 {
    width: 200px;
    height: 150px;
}
#td23 {
    width: 100px;
    height: 150px;
}
#tr3 {
    width: 400px;
}
#td31 {
    width: 100px;
    height: 50px;
}
#td32 {
    width: 200px;
    height: 50px;
}
#td33 {
    width: 100px;
    height: 50px;
} */
